.div {
  flex: 4;
  margin: 60px;
 
}
.divForm {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.divItem {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.divItem > label {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.divItem > input {
  height: 50px; /* Increased height for better appearance */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.2s ease; /* Add transition effect for smoother hover and active effects */
  font-size: 18px;
}

.divItem > input:hover {
  background-color: #f5f5f5; /* Add background color on hover */
}

.divItem > input:active {
  border-color: darkgray; /* Change border color on click */
}
.divButton {
  width: 200px;
  height: 50px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 100px;
  cursor: pointer;
  transition: all 0.2s ease; /* Add transition effect for smoother hover and active effects */
}

.divButton:hover {
  background-color: blue; /* Change background color on hover */
}

.divButton:active {
  transform: scale(0.95); /* Add scaling effect on click */
}

.divList {
  height: 400px;
  width: 100%;
}

.divListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #14ce74;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  width: 80px;
}

.divListDelete {
  color: red;
  cursor: pointer;
  
}
 
.deleteTooltip {
  /* Add your styles for the tooltip here */
  /* Set the initial display property to none to hide the tooltip */
  display: none;
}

/* Show the tooltip when hovering over the delete button */
.divListDelete:hover + .deleteTooltip {
  display: block;
}